* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}

header {
    background-image:
        linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../media/CircuiosBien.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(0, 0, 35);
    height: 70vh;
    min-height: 30pt;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 20vw;
    min-width: 75pt;
    height: 25vh;
    min-height: 30pt;
    background-color: rgb(86, 86, 255);
}

button:hover {
    background-color: rgb(200, 200, 200);
    transform: scale(1.05);
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Verdana', sans-serif;
    font-size: 25pt;
}

h3 {
    font-family: 'Verdana', sans-serif;
    font-size: 20pt;
    color: rgb(0, 0, 0);
}

h4 {
    max-width: 80vw;
    font-family: 'Verdana', sans-serif;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20pt;
    border-radius: 15pt;
}

footer {
    background-color: rgb(0, 0, 35);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}


div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgb(0, 0, 35);
    display: flex;
    flex-direction: row;
    gap: 5vh;
    height: 25vh;
}

@media (max-width: 850px) {
    section {
        flex-direction: column;
    }

    button {
        width: 50vw;
        max-width: 250pt;
        min-width: 75pt;
        height: 20vh;
        min-height: 30pt;
    }

    main {
        min-height: 140vh;
    }

    section {
        min-height: 100vh;
    }
}