* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 35);
  display: grid;
  min-height: 100vh;
  place-items: center;
  gap: 5vw;
}

h1 {
  font-size: 10vh;
  color: rgb(255, 255, 255);
  font-family: "Verdana", sans-serif;
  text-align: justify;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: "Verdana", sans-serif;
  text-align: justify;
  font-size: 3vh;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 5vw;
  width: 80vw;
}

.botonVuelta {
  width: 9vh;
  height: 9vh;
  border-radius: 25%;
  position: fixed;
  top: 3vh;
  left: 3vh;
  z-index: 1000;
  transition: transform 0.2s;
}

.botonVuelta:hover {
  transform: scale(1.2);
}

.divConFoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20pt;
  border-radius: 15pt;
  gap: 5vh;
}

.divSinFoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20pt;
  border-radius: 15pt;
  gap: 0;
}

.divPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 6vh;
  padding-bottom: 6vh;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 15pt;
  gap: 5vh;
}

.divFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20pt;
  border-radius: 15pt;
  min-width: 8vw;
  min-height: 8vh;
}

.ImgNormal {
  height: 9vh;
  width: auto;
}

@media (max-width: 850px) {
  main {
    width: 95vw;
    padding: 5vw;
    gap: 3vh;
  }

  .divConFoto,
  .divSinFoto {
    flex-direction: column;
    text-align: center;
    gap: 2vh;
  }
}
