* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 35);
    display: grid;
    min-height: 100vh;
    place-items: center;
    gap: 5vh;
}

h1 {
    font-size: 50pt;
    color: rgb(255, 255, 255);
    font-family: 'Verdana', sans-serif;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
    max-width: 80vw;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15pt;
    text-align: justify;
    font-size: 3vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
    max-width: 80vw;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15pt;
    text-align: justify;
    font-size: 3vh;
    padding: 4vh;
}

.botonVuelta {
    width: 9vh;
    height: 9vht;
    border-radius: 25%;
    position: fixed;
    top: 3vh;
    left: 3vh;
    z-index: 1000;
    transition: transform 0.2s;
}

.botonVuelta:hover {
    transform: scale(1.2);
}

div {
    width: 100%;
    justify-content: start;
    gap: 5vh;
}

iframe {
    width: 80vw;
    height: 80vh;
    border-radius: 15pt;
}

footer {
    padding-bottom: 5vh;
}